* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  margin: 47px 0 194.2px 42px;
  display: flex;
  width: 600px;
  height: 51px;
  align-items: center;
}

.header-links {
  color: #17233d;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 0.88px;
  margin-right: 32px;
  font-weight: 400;
}

#first-header-link {
  margin-right: 36px;
}

#header-button {
  background-color: #6fbf44;
  color: #ffffff;
  width: 124px;
  height: 51px;
  border-radius: 6px;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  /* line-height: 100%; */
  letter-spacing: 1px;
  padding: 13px /* 25px */;
  border: none;
}

#div-section-h1 {
  color: #161a49;
  font-style: Bold;
  font-size: 62px;
  line-height: 82px;
  line-height: 88%;
  vertical-align: Top;
  letter-spacing: 0.6px;
  width: 582px;
  height: 164px;
}

#div-section-paragraph {
  color: #4b505a;
}

#div-section-a {
  color: #6fbf44;
}

section {
  display: flex;
}
